* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #E2EBF8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.form {
  justify-content: center;
  align-items: center;
  max-width: 450px;
  background: white;
  
.form-data{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}
  

h1{
  color: white;
  background: #125782;
  text-align: center;
  padding: 10px;
}

.name{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


#submit{
  background: #2A96D5;
  color: white;
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 10px;
  justify-content: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.select{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  input:45%;
}
  
